@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 240 5% 64.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 240 3.7% 15.9%;
    }
    .bottom-boxes-container {
        display: grid;
        grid-template-columns: repeat(
            auto-fill,
            minmax(200px, 1fr)
        ); /* Adjust the column width as needed */
        gap: 20px; /* Adjust the gap between boxes as needed */
        justify-items: center;
        margin-top: 20px; /* Add margin to adjust the distance from the top content */
    }
    .grid-cols-centered {
        display: grid;
        grid-template-columns: 1fr; /* Single column grid */
        place-content: center; /* Vertically center content */
    }

    .grid-cols-centered > :nth-child(n + 6) {
        grid-row-start: 1; /* Place items in the first row */
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .box {
        padding: 30px;
        position: relative;
        border-radius: 10px;
        margin: 0 10px 40px 10px;
        background: white;
        box-shadow: 0 10px 30px 0 rgba(68, 88, 144, 0.1);
        transition: 0.3s;
        text-align: center;
    }
    .icon {
        margin: 0 auto 15px auto;
        padding-top: 15px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    @media (max-width: 767px) {
        /* Change the width to 100% for screens narrower than 768px (typical mobile devices) */
        .col-lg-4 {
            width: 100%;
            margin-bottom: 20px; /* Optional: Add some margin between stacked boxes */
        }
        .col-lg-6 {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .hover-path:hover path {
        fill: #319ad4; /* Change this to your desired hover color */
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    /* Links in the dropdown */
    .dropdown-content a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    /* Show dropdown on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .block:hover {
        color: grey;
    }
    .anchor:before {
        content: "";
        display: block;
        height: 60px; /* or whatever height you want */
        margin-top: -60px; /* this should be the negative value of height */
        visibility: hidden;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        min-height: 75vh;
        position: relative;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
